.footer {
    background: #2e2f42;
}

.footer-link {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}

.footer-logo {
font-family: 'Roboto', sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-text {
font-family: Roboto, sans-serif;
font-weight: 400;
    letter-spacing: 0.02em;
color: #f4f4fd;
}

.footer-bottom {
    display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 16px;
        width: 264px;
            max-width: 264px;
}