.hero {
width: 1440px;
    height: 600px;
    display: flex;
        align-items: center;
        background: #2e2f42;
            padding: 188px 0px;
}

.hero-wrapper {
    display: flex;
        align-items: center;
        gap: 48px;
        flex-direction: column;
        height: 600px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-top: 188px;
margin-bottom: 48px;
}
.hero-btn {
    font-size: 16px;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
       cursor: pointer;
        border: none;

        display: flex;
            align-items: center;
            gap: 0px;

            border-radius: 4px;
                padding: 16px 32px;
                min-width: 169px;
                min-height: 56px;
}
.hero-controls {
    display: flex;
        align-items: center;
        gap: 0px;
}
.hero-btn:hover {
        background: #404bbf;

}
.hero-btn:focus {
        background: #404bbf;
        
}
